.footer {
  @extend %align-between;
  min-height: 63px;

  &--line::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $footer-line-color;
  }

  &__contact {
    align-self: center;

    &-form {
      display: flex;
      align-self: center;
    }
  }

  &__author-description {
    font-size: 14px;
  }

  &__author-link {
    display: inline-block;
    color: $social-icon-color;
  }

  &__name-input {
    font-family: $secondary-font;
    font-size: 15px;
    line-height: 24px;
    border: 1px solid $input-border-color;
    background-color: $main-light-color;
    width: 230px;
    padding: 8px 14px;

    &::placeholder {
      font-weight: 300;
      font-style: italic;
      color: $input-placeholder-color;
    }

    &:focus {
      outline: none;
    }

  }

  &__subscribe-btn {
    border: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: $main-light-color;
    width: 150px;
    background-color: $secondary-light-color;
  }
}

.footer__name-input:required:focus:valid:not(:placeholder-shown) {
  outline: 2px solid $correct-input-color;
}

.footer__name-input:required:focus:invalid:not(:placeholder-shown) {
  outline: 2px solid $incorrect-input-color;
}
