.header {
  padding: 28px 0px 230px;
  background-image: linear-gradient(360deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%),
    url("../images/header/header-bg.jpg");
  background-size: cover;
  background-position: center;

  &__navigation {
    margin-bottom: 178px;
  }

  &__menu {
    margin-right: 56px;
  }

  &__title {
    margin: 0px auto 115px;

    &--manuscript {
      font-size: 72px;
      text-align: center;
      font-family: $manuscript-font;
      color: $main-light-color;
      display: block;
      margin-bottom: 50px;
      transition: all 0.3s linear;

    }

    &--typescript {
      font-size: 150px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: $main-light-color;
      display: block;
    }

    &__title--br {
      display: block;
    }
  }

  &__link-more {
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: $main-light-color;
    border: 3px solid $main-light-color;
    width: 160px;
    background-color: transparent;
    margin: 0px auto;
  }

  @media (min-resolution: 192dpi) {
    background-image: linear-gradient(360deg,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%),
      url("../images/header/header-bg@2x.jpg");
  }
}

.navigation {
  @extend %align-between;
  align-items: baseline;
  min-height: 36px;
}

.menu {
  @extend %align-between;
  flex-basis: 510px;

  &__item:hover &__item-link,
  &__item-link:focus {
    color: $social-icon-place-color;
  }

  &__item:hover &__item-link::after {
    visibility: visible;
    opacity: 1;
  }

  &__item-link {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $main-light-color;

    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 3px;
      background-color: $social-icon-place-color;
      margin-top: 10px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s linear;
    }
  }
}

.logotype {
  font-size: 32px;
  font-weight: 700;
  color: $main-light-color;
  flex-grow: 1;
}

.logotype:focus,
.menu__item-link:focus,
.market__item-link:focus {
  outline: none;
}

.market {
  @extend %align-between;
  flex-basis: 90px;

  &__item-link--cart {
    width: 18px;
    height: 15px;
    fill: $main-light-color;
  }

  &__item-link--search {
    width: 18px;
    height: 18px;
    fill: $main-light-color;
  }

  &__item-link:hover &__item-link--cart,
  &__item-link:focus &__item-link--cart {
    fill: $social-icon-place-color;
  }

  &__item-link:hover &__item-link--search,
  &__item-link:focus &__item-link--search {
    fill: $social-icon-place-color;
  }
}
