.services {
  padding: 52px 0px 100px;

  &__list {
    @extend %align-between;
    flex-wrap: wrap;

    &-item {
      display: flex;
      flex-basis: 380px;

      &:not(:nth-last-of-type(-n + 3)) {
        margin-bottom: 102px;
      }
    }
  }

  &__image {
    flex-basis: 80px;
    background-repeat: no-repeat;
    background-position: top;

    &--alarm {
      background-image: url("../images/services/alarm.svg");
    }

    &--graph {
      background-image: url("../images/services/graph.svg");
    }

    &--computer {
      background-image: url("../images/services/computer.svg");
    }

    &--book {
      background-image: url("../images/services/book.svg");
    }

    &--home {
      background-image: url("../images/services/home.svg");
    }

    &--digital {
      background-image: url("../images/services/digital.svg");
    }
  }

  &__description-wrapper {
    flex-basis: 300px;
  }

  &__description {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    font-family: $secondary-font;
    color: $secondary-dark-color;
  }

  &__type {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
