.team {
  padding-bottom: 85px;
}

.team-member__list {
  @extend %align-between;
}

.team-member__photo-wrapper {
  margin-bottom: 30px;
  position: relative;
  transition: all .4s linear;

  &:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0px 0px $secondary-light-color;

    & .overlay {
      visibility: visible;
      opacity: 1;
    }
  }
}

.team__description {
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  font-family: $secondary-font;
  color: $secondary-dark-color;
  margin-bottom: 84px;
}

.team-member__name {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 14px;
}

.team-member__position {
  font-family: $secondary-font;
  color: $secondary-dark-color;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  text-align: center;
}

.overlay {
  @extend %align-center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(360deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.social-networks {
  display: flex;

  &__link-item {
    @extend %align-center;
    width: 56px;
    height: 56px;
    background-color: $social-icon-place-color;

    &:not(:last-of-type) {
      margin-right: 1px;
    }

    &:hover {
      background-color: $social-icon-place-color-hover;

      & .social-networks__icon {
        fill: $social-icon-color-hover;
      }
    }
  }
}

.social-networks__icon {
  fill: $social-icon-color;

  &--facebook {
    width: 13px;
    height: 26px;
  }

  &--twitter {
    width: 26px;
    height: 22px;
  }

  &--pinterest {
    width: 21px;
    height: 26px;
  }

  &--instagram {
    width: 26px;
    height: 26px;
  }
}
