.team {
  padding-bottom: 85px;
}

.team-member__list {
  display: flex;
  justify-content: space-between;
}

.team-member__photo-wrapper {
  transition: all .4s linear;
}

.team-member__photo-wrapper:hover {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0px 0px rgb(149, 225, 211);
}

.team-member__photo-wrapper:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.team-member__photo-wrapper {
  margin-bottom: 30px;
  position: relative;
}

.team__description {
  font-family: $secondary-font;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  color: rgb(153, 153, 153);
  text-align: center;
  margin-bottom: 84px;
}

.team-member__name {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.team-member__position {
  font-family: $secondary-font;
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
  color: rgb(153, 153, 153);
  text-align: center;
}

/* OVERLAY */

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(360deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.social-networks {
  display: flex;
}

.social-networks__link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: rgb(252, 227, 138);
}

.social-networks__link-item:not(:last-of-type) {
  margin-right: 1px;
}

.social-networks__icon {
  fill: rgb(243, 129, 129);
}

.social-networks__icon--facebook {
  width: 13px;
  height: 26px;
}

.social-networks__icon--twitter {
  width: 26px;
  height: 22px;
}

.social-networks__icon--pinterest {
  width: 21px;
  height: 26px;
}

.social-networks__icon--instagram {
  width: 26px;
  height: 26px;
}

.social-networks__link-item:hover {
  background-color: rgb(243, 129, 129);
}

.social-networks__link-item:hover .social-networks__icon {
  fill: rgb(255, 255, 255);
}
