$main-font: "Montserrat",
sans-serif;
$manuscript-font: "Kaushan Script",
sans-serif;
$secondary-font: "Roboto",
sans-serif;

$main-dark-color: rgb(51, 51, 51);
$secondary-dark-color: rgb(153, 153, 153);

$main-light-color: rgb(255, 255, 255);
$secondary-light-color: rgb(149, 225, 211);

$section-title-line-color: rgb(243, 129, 129);

$social-icon-color: rgb(243, 129, 129);
$social-icon-color-hover: rgb(255, 255, 255);

$social-icon-place-color: rgb(252, 227, 138);
$social-icon-place-color-hover: rgb(243, 129, 129);

$correct-input-color: #29a029;
$incorrect-input-color: #fa0404;

$footer-line-color: rgb(229, 229, 229);
$input-border-color: rgb(231, 231, 231);
$input-placeholder-color: rgb(204, 204, 204);
